<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantDescription</key>
	<array>
		<string>Cafe and Deli</string>
		<string>Japanese style curry and ramen</string>
		<string>Japanese BBQ</string>
		<string>Japanese food</string>
		<string>Japanese food</string>
	</array>
	<key>restaurantImages</key>
	<array>
		<string>kapoleiKalapawai</string>
		<string>cocoIchibanya</string>
		<string>gyukakuJapanese</string>
		<string>tontonRamen</string>
		<string>ohanaRamen</string>
	</array>
</dict>
</plist>
